AirlineReservationServiceClient/Connected Services/AdministratorServiceReference/AdministratorNamespace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="AdministratorNamespace" elementFormDefault="qualified" targetNamespace="AdministratorNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createNewFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seatCapacity" type="xs:int" />
        <xs:element minOccurs="0" name="firstClassPrice" type="xs:float" />
        <xs:element minOccurs="0" name="economyClassPrice" type="xs:float" />
        <xs:element minOccurs="0" name="arrivalAirport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departureAirport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivalTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="departureTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNewFlightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showAllFlightsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showSeatingChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showSeatingChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showSeatingChartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>