CustomerClient/Connected Services/CustomerServiceReference/CustomerNamespace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CustomerNamespace" elementFormDefault="qualified" targetNamespace="CustomerNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="showAllFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showAllFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showAllFlightsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showSeatingChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showSeatingChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showSeatingChartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserveSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seatNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserveSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reserveSeatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>